:root {
  --vp-c-brand: hsl(189, 49%, 67%);
  --vp-c-brand-light: hsl(189, 49%, 77%);
  --vp-c-brand-lighter: hsl(189, 49%, 87%);
  --vp-c-brand-dark: hsl(189, 49%, 47%);
  --vp-c-brand-darker: hsl(189, 49%, 37%);
}
